[project]
	description = Installs ADB & Fastboot on Linux and Mac OS X
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Kyle Laker (kalaker)
[access "refs/for/refs/*"]
	read = group user/Kyle Laker (kalaker)
	push = group user/Kyle Laker (kalaker)
	label-Code-Review = -2..+2 group user/Kyle Laker (kalaker)
	label-Verified = -1..+1 group user/Kyle Laker (kalaker)
	rebase = group user/Kyle Laker (kalaker)
	removeReviewer = group user/Kyle Laker (kalaker)
	submit = group user/Kyle Laker (kalaker)
[access "refs/heads/*"]
	read = group user/Kyle Laker (kalaker)
	create = group user/Kyle Laker (kalaker)
	push = +force group user/Kyle Laker (kalaker)
	pushMerge = group user/Kyle Laker (kalaker)
[access "refs/tags/*"]
	push = +force group user/Kyle Laker (kalaker)
	pushTag = group user/Kyle Laker (kalaker)
	pushSignedTag = group user/Kyle Laker (kalaker)
